.home-viewport {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  overflow: hidden;
}

.patient-container {
  margin: 30px;
  box-sizing: border-box;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  height: 50vh;
  width: -webkit-fill-available;
  //   height: 60vh;
  //   overflow: auto;
}

.icon-header-gap {
  width: 15px !important;
}

.app-logo {
  background-image: url(../../../assets/images/vision-logo-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  transition: transform 0.5s ease-in;
  border-radius: 50%;
  cursor: pointer;
}
.app-logo:hover {
  transform: scale(1.25);
}

.tab-viewport {
  height: 50vh;
  width: -webkit-fill-available;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
}

.tab-viewport > * {
  flex-grow: 1 !important;
  margin: 15px !important;
}
