<div class="home-wrap">
  <p-panel>
    <ng-template pTemplate="header">
      <span class="header-text p-component">Ophthalmos</span>
      <span class="header-spacer"></span>
      <img
        class="header-img"
        src="../../../assets/images/free-health-icon-crop.png"
      />
    </ng-template>
    <ng-template pTemplate="content">
      <div class="header-content">
        <span class="pi pi-lock emrs-lock" style="font-size: 50px"></span>

        <!-- <span class="p-float-label">
          <input
            id="float-username"
            type="text"
            pInputText
            [(ngModel)]="username"
          />
          <label for="float-username">Username</label>
        </span>
        <br />
        <span class="p-float-label">
          <p-password
            id="float-pw"
            [(ngModel)]="pw"
            [feedback]="false"
          ></p-password>
          <label for="float-pw">Password</label>
        </span> -->
      </div>
    </ng-template>
  </p-panel>
</div>
