.home-viewport {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.patient-container {
  padding: 10px 10px 10px 10px;
  max-height: 95%;
  box-sizing: border-box;
}

.icon-header-gap {
  width: 15px !important;
}

.app-logo {
  background-image: url(../../../assets/images/vision-logo-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 40px;
  transition: transform 0.5s ease-in;
  border-radius: 50%;
  cursor: pointer;
}
.app-logo:hover {
  transform: scale(1.25);
}
