.home-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-weight: 100;
  font-size: 35px;
  cursor: pointer;
}
.header-img {
  width: 45px;
  height: 45px;
}
.header-spacer {
  width: 20px;
  height: 100%;
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}
span.pi.pi-lock {
  font-size: 35px;
  font-weight: 100;
  cursor: pointer;
  transition: color 0.1s linear;

  &:hover {
    animation: wiggle 1.5s linear infinite both;
  }
}
@keyframes wiggle {
  0% {
  }
  10% {
    transform: rotate(-15deg) scale(1.5);
    color: rgb(255, 238, 0);
  }
  15% {
    transform: rotate(0deg) scale(1.5);
  }
  20% {
    transform: rotate(15deg) scale(1.5);
  }
  25% {
    transform: rotate(0deg) scale(1.5);
  }
  100% {
  }
}

.home-wrap {
  animation: slideIn 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.glow {
  position: relative;
  display: block;
  transition: 0.6s;
}

// .glow::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   transition: 0.5s;
//   transform: scale(0.9);
//   z-index: -1;
//   color: #10c9ea;
// }

// .glow:hover::before {
//   transform: scale(1.1);
// }

.glow:hover {
  color: white;
  transform: scale(2);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #a9f9e4, 0 0 20px #89ffe0,
    0 0 25px #6affd7, 0 0 30px #41ffcc, 0 0 30px #00ffbb;
}
