<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <div class="app-logo"></div>
  </ng-template>
  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search" />
  </ng-template>
</p-menubar>

<!-- <div>

</div> -->

<div class="home-viewport p-input-filled">
  <div #fields class="tab-container">
    <p-fieldset [toggleable]="true">
      <ng-template pTemplate="header"><div>Patient Zero</div></ng-template>
      <p-tabView styleClass="tabview-custom" [scrollable]="true">
        <p-tabPanel tooltip="Demographics">
          <ng-template pTemplate="header">
            <i class="pi pi-id-card"></i>
            <span class="icon-header-gap"></span>
            <span>Demographics</span>
          </ng-template>
          <her-demographics></her-demographics>
        </p-tabPanel>
        <p-tabPanel tooltip="Health History">
          <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span class="icon-header-gap"></span>
            <span>Health History</span>
          </ng-template>
          <her-heath-history></her-heath-history>
        </p-tabPanel>
        <p-tabPanel tooltip="Physical Exam Details">
          <ng-template pTemplate="header">
            <i class="pi pi-search"></i>
            <span class="icon-header-gap"></span>
            <span>Physical Exam Detail</span>
          </ng-template>
          <her-physical-exam-detail></her-physical-exam-detail>
        </p-tabPanel>
        <p-tabPanel tooltip="Vitals">
          <ng-template pTemplate="header">
            <i class="pi pi-heart"></i>
            <span class="icon-header-gap"></span>
            <span>Vitals</span>
          </ng-template>
          <her-vitals></her-vitals>
        </p-tabPanel>
        <p-tabPanel tooltip="Surgical Procedures">
          <ng-template pTemplate="header">
            <i class="pi pi-pencil"></i>
            <span class="icon-header-gap"></span>
            <span>Surgical Procedures</span>
          </ng-template>
          <div class="tab-content-viewport">
            <her-surgical-procedures></her-surgical-procedures>
          </div>
        </p-tabPanel>
        <p-tabPanel tooltip="Documents">
          <ng-template pTemplate="header">
            <i class="pi pi-file"></i>
            <span class="icon-header-gap"></span>
            <span>Documents</span>
          </ng-template>
          <her-documents></her-documents>
        </p-tabPanel>
      </p-tabView>
    </p-fieldset>
  </div>
</div>
