<div #bgWrap class="bg-wrap"></div>

<div
  *ngIf="removeElement == false"
  class="home-wrap p-component"
  [ngClass]="{ hide: hideOverlay }"
>
  <span class="header-text glow">Ophthalmos</span>
  <br />

  <div class="header-content">
    <span (click)="begin()" class="pi pi-lock emrs-lock"></span>
  </div>
</div>

<div
  *ngIf="removeElementLast == false"
  class="sliding-open-viewport"
  [ngClass]="{ hide: hideOverlay }"
>
  <div
    class="sliding-open-inner"
    [ngClass]="{ 'full-width': animate, hide: hideOverlay }"
    (transitionend)="onTransitionEnd($event)"
  ></div>
</div>

<div class="app-viewport">
  <router-outlet></router-outlet>
</div>
