// @import url("../src/assets/themes/soho-dark.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("./assets/styles/scrollbar.scss");

html {
  height: 100%;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  background: #333333;
  box-sizing: border-box;
  //   z-index: 1000;
  font-family: var(--font-family);
}

p-menubar > .p-menubar {
  border-radius: 0px !important;
}

.p-tabview-nav-link > span {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  max-width: 80% !important;
}

.ng2-pdf-viewer-container {
  overflow: auto;
}

.togglebutton-fill-container {
  width: 100% !important;
  height: 100% !important;
}
.togglebutton-fill-container > div.p-togglebutton {
  width: 100% !important;
  height: 100% !important;
  border: none;
  background: #f4f4f4;
}

.fa-beat {
  color: var(--red-800);
}

.p-tabview-panel {
  max-height: 75vmax;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
}

.p-toggleable-content {
  max-width: inherit;
}

.p-fieldset {
  max-width: 95vw !important;
}
